In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = Path('Christina_county_pop.csv')
cc_df = pd.read_csv(data, skiprows = 1)
cc_df

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,Geo_CT,Geo_BG,Geo_CITY,Geo_MSAMSA,Geo_ZC,ORG_DENSITY,ORG_TOT_POP,ORG_TOT_POP1,ORG_URBANPOP,ORG_RURALPOP
0,1001,Autauga,"Autauga, Alabama",0,1,1,NaN,NaN,NaN,NaN,NaN,94.3,56059,56059,32635,23424
1,1003,Baldwin,"Baldwin, Alabama",0,1,3,NaN,NaN,NaN,NaN,NaN,141.8,225463,225463,129911,95552
2,1005,Barbour,"Barbour, Alabama",0,1,5,NaN,NaN,NaN,NaN,NaN,27.8,24575,24575,7921,16654
3,1007,Bibb,"Bibb, Alabama",0,1,7,NaN,NaN,NaN,NaN,NaN,36.0,22427,22427,7072,15355
4,1009,Blount,"Blount, Alabama",0,1,9,NaN,NaN,NaN,NaN,NaN,89.9,57997,57997,5806,52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater,"Sweetwater, Wyoming",0,56,37,NaN,NaN,NaN,NaN,NaN,4.0,42226,42226,37591,4635
3138,56039,Teton,"Teton, Wyoming",0,56,39,NaN,NaN,NaN,NaN,NaN,5.9,23376,23376,12480,10896
3139,56041,Uinta,"Uinta, Wyoming",0,56,41,NaN,NaN,NaN,NaN,NaN,9.7,20194,20194,11466,8728
3140,56043,Washakie,"Washakie, Wyoming",0,56,43,NaN,NaN,NaN,NaN,NaN,3.5,7793,7793,4935,2858
3141,56045,Weston,"Weston, Wyoming",0,56,45,NaN,NaN,NaN,NaN,NaN,2.9,6916,6916,3138,3778

In [4]:
cc_df.dtypes

Geo_FIPS          int64
Geo_NAME         object
Geo_QNAME        object
Geo_NATION        int64
Geo_STATE         int64
Geo_COUNTY        int64
Geo_CT          float64
Geo_BG          float64
Geo_CITY        float64
Geo_MSAMSA      float64
Geo_ZC          float64
ORG_DENSITY     float64
ORG_TOT_POP       int64
ORG_TOT_POP1      int64
ORG_URBANPOP      int64
ORG_RURALPOP      int64
dtype: object

In [5]:
#create a new column the classifies countries os Rural, micro urban or Urban based on total population
#create a list of conditions
conditions = [(cc_df['ORG_DENSITY']<=500),(cc_df['ORG_DENSITY'] >500)]

#create the list of values to assign for each condition
values = ['Rural', 'Urban']

#create new column and use np.select to assign values
cc_df['RuralUrban'] = np.select(conditions, values)

cc_df

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,Geo_CT,Geo_BG,Geo_CITY,Geo_MSAMSA,Geo_ZC,ORG_DENSITY,ORG_TOT_POP,ORG_TOT_POP1,ORG_URBANPOP,ORG_RURALPOP,RuralUrban
0,1001,Autauga,"Autauga, Alabama",0,1,1,NaN,NaN,NaN,NaN,NaN,94.3,56059,56059,32635,23424,Rural
1,1003,Baldwin,"Baldwin, Alabama",0,1,3,NaN,NaN,NaN,NaN,NaN,141.8,225463,225463,129911,95552,Rural
2,1005,Barbour,"Barbour, Alabama",0,1,5,NaN,NaN,NaN,NaN,NaN,27.8,24575,24575,7921,16654,Rural
3,1007,Bibb,"Bibb, Alabama",0,1,7,NaN,NaN,NaN,NaN,NaN,36.0,22427,22427,7072,15355,Rural
4,1009,Blount,"Blount, Alabama",0,1,9,NaN,NaN,NaN,NaN,NaN,89.9,57997,57997,5806,52191,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater,"Sweetwater, Wyoming",0,56,37,NaN,NaN,NaN,NaN,NaN,4.0,42226,42226,37591,4635,Rural
3138,56039,Teton,"Teton, Wyoming",0,56,39,NaN,NaN,NaN,NaN,NaN,5.9,23376,23376,12480,10896,Rural
3139,56041,Uinta,"Uinta, Wyoming",0,56,41,NaN,NaN,NaN,NaN,NaN,9.7,20194,20194,11466,8728,Rural
3140,56043,Washakie,"Washakie, Wyoming",0,56,43,NaN,NaN,NaN,NaN,NaN,3.5,7793,7793,4935,2858,Rural
3141,56045,Weston,"Weston, Wyoming",0,56,45,NaN,NaN,NaN,NaN,NaN,2.9,6916,6916,3138,3778,Rural

In [6]:
#display number of rural vs urban counties
cc_df['RuralUrban'].value_counts()

Rural    2873
Urban     269
Name: RuralUrban, dtype: int64

In [7]:
#drop empty columns
cc_short = cc_df.drop(columns=['Geo_FIPS', 'Geo_NATION', 'Geo_STATE', 'Geo_COUNTY',
                               'Geo_CT', 'Geo_BG', 'Geo_CITY', 'Geo_MSAMSA', 'Geo_ZC'])

cc_short

,Geo_NAME,Geo_QNAME,ORG_DENSITY,ORG_TOT_POP,ORG_TOT_POP1,ORG_URBANPOP,ORG_RURALPOP,RuralUrban
0,Autauga,"Autauga, Alabama",94.3,56059,56059,32635,23424,Rural
1,Baldwin,"Baldwin, Alabama",141.8,225463,225463,129911,95552,Rural
2,Barbour,"Barbour, Alabama",27.8,24575,24575,7921,16654,Rural
3,Bibb,"Bibb, Alabama",36.0,22427,22427,7072,15355,Rural
4,Blount,"Blount, Alabama",89.9,57997,57997,5806,52191,Rural
...,...,...,...,...,...,...,...,...
3137,Sweetwater,"Sweetwater, Wyoming",4.0,42226,42226,37591,4635,Rural
3138,Teton,"Teton, Wyoming",5.9,23376,23376,12480,10896,Rural
3139,Uinta,"Uinta, Wyoming",9.7,20194,20194,11466,8728,Rural
3140,Washakie,"Washakie, Wyoming",3.5,7793,7793,4935,2858,Rural
3141,Weston,"Weston, Wyoming",2.9,6916,6916,3138,3778,Rural

In [8]:
#cc_df.to_csv('cc_df.csv', index=False)

# Importing county data to join

In [9]:
data = Path('county_pop_df.csv')
county_pop_df = pd.read_csv(data)
county_pop_df

,StateDesc,CountyName,CountyFIPS,TotalPopulation,ARTHRITIS_CrudePrev,ARTHRITIS_AdjPrev,BINGE_CrudePrev,BINGE_AdjPrev,BPHIGH_CrudePrev,BPHIGH_AdjPrev,...,PHLTH_CrudePrev,PHLTH_AdjPrev,SLEEP_CrudePrev,SLEEP_AdjPrev,STROKE_CrudePrev,STROKE_AdjPrev,TEETHLOST_CrudePrev,TEETHLOST_AdjPrev,Geolocation,RuralUrban
0,New Jersey,Warren,34041,105267,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.3,38.3,NaN,NaN,11.4,11.5,POINT (-74.9967165 40.85716301),Urban
1,Oklahoma,Jackson,40065,24530,23.5,23.0,13.6,13.6,34.5,34.1,...,13.8,13.8,37.1,37.7,3.4,3.3,18.6,18.8,POINT (-99.41467445 34.58811786),Micro-Urban
2,Illinois,Lawrence,17101,15678,27.9,25.6,20.4,21.5,35.4,33.3,...,14.5,13.9,36.1,36.8,3.8,3.4,17.1,17.2,POINT (-87.72684251 38.7203392),Micro-Urban
3,Kansas,Barton,20009,25779,27.7,23.7,15.4,17.1,37.2,32.9,...,13.4,12.5,32.9,34.2,3.8,3.1,17.1,17.2,POINT (-98.75632156 38.478934),Micro-Urban
4,Alaska,Anchorage,2020,288000,19.3,20.0,18.8,18.2,28.8,29.8,...,10.0,10.1,34.6,34.4,2.6,2.7,11.7,12.2,POINT (-149.1141071 61.1504589),Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Kentucky,Carter,21043,26797,39.4,34.1,13.0,14.6,46.3,41.0,...,19.9,18.4,43.5,44.7,5.1,4.2,27.2,27.7,POINT (-83.04983435 38.31844184),Micro-Urban
3138,Mississippi,DeSoto,28033,184945,25.7,24.6,15.3,15.6,37.6,36.4,...,11.7,11.3,36.8,36.9,3.3,3.1,13.8,14.2,POINT (-89.99137922 34.87557805),Urban
3139,New York,Richmond,36085,476143,21.5,19.4,15.8,16.7,29.4,27.0,...,12.1,11.5,43.0,43.6,3.0,2.7,15.0,15.3,POINT (-74.15238026 40.58072907),Urban
3140,Kansas,Saline,20169,54224,25.9,22.9,16.6,17.9,32.8,29.6,...,11.9,11.2,31.5,32.5,3.3,2.8,14.0,14.1,POINT (-97.64993321 38.78398051),Urban
3141,Texas,Wise,48497,69984,24.7,22.7,18.2,19.0,34.6,32.3,...,13.6,12.9,35.2,35.6,3.4,3.1,15.3,15.7,POINT (-97.65436631 33.21591466),Urban

In [10]:
county_pop_df['Geo_QNAME'] = county_pop_df['CountyName'].astype(str) + ', ' + county_pop_df ['StateDesc']

county_pop_df

,StateDesc,CountyName,CountyFIPS,TotalPopulation,ARTHRITIS_CrudePrev,ARTHRITIS_AdjPrev,BINGE_CrudePrev,BINGE_AdjPrev,BPHIGH_CrudePrev,BPHIGH_AdjPrev,...,PHLTH_AdjPrev,SLEEP_CrudePrev,SLEEP_AdjPrev,STROKE_CrudePrev,STROKE_AdjPrev,TEETHLOST_CrudePrev,TEETHLOST_AdjPrev,Geolocation,RuralUrban,Geo_QNAME
0,New Jersey,Warren,34041,105267,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.3,38.3,NaN,NaN,11.4,11.5,POINT (-74.9967165 40.85716301),Urban,"Warren, New Jersey"
1,Oklahoma,Jackson,40065,24530,23.5,23.0,13.6,13.6,34.5,34.1,...,13.8,37.1,37.7,3.4,3.3,18.6,18.8,POINT (-99.41467445 34.58811786),Micro-Urban,"Jackson, Oklahoma"
2,Illinois,Lawrence,17101,15678,27.9,25.6,20.4,21.5,35.4,33.3,...,13.9,36.1,36.8,3.8,3.4,17.1,17.2,POINT (-87.72684251 38.7203392),Micro-Urban,"Lawrence, Illinois"
3,Kansas,Barton,20009,25779,27.7,23.7,15.4,17.1,37.2,32.9,...,12.5,32.9,34.2,3.8,3.1,17.1,17.2,POINT (-98.75632156 38.478934),Micro-Urban,"Barton, Kansas"
4,Alaska,Anchorage,2020,288000,19.3,20.0,18.8,18.2,28.8,29.8,...,10.1,34.6,34.4,2.6,2.7,11.7,12.2,POINT (-149.1141071 61.1504589),Urban,"Anchorage, Alaska"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Kentucky,Carter,21043,26797,39.4,34.1,13.0,14.6,46.3,41.0,...,18.4,43.5,44.7,5.1,4.2,27.2,27.7,POINT (-83.04983435 38.31844184),Micro-Urban,"Carter, Kentucky"
3138,Mississippi,DeSoto,28033,184945,25.7,24.6,15.3,15.6,37.6,36.4,...,11.3,36.8,36.9,3.3,3.1,13.8,14.2,POINT (-89.99137922 34.87557805),Urban,"DeSoto, Mississippi"
3139,New York,Richmond,36085,476143,21.5,19.4,15.8,16.7,29.4,27.0,...,11.5,43.0,43.6,3.0,2.7,15.0,15.3,POINT (-74.15238026 40.58072907),Urban,"Richmond, New York"
3140,Kansas,Saline,20169,54224,25.9,22.9,16.6,17.9,32.8,29.6,...,11.2,31.5,32.5,3.3,2.8,14.0,14.1,POINT (-97.64993321 38.78398051),Urban,"Saline, Kansas"
3141,Texas,Wise,48497,69984,24.7,22.7,18.2,19.0,34.6,32.3,...,12.9,35.2,35.6,3.4,3.1,15.3,15.7,POINT (-97.65436631 33.21591466),Urban,"Wise, Texas"

In [11]:
county_pop_df.drop(columns=['RuralUrban'], inplace = True)

county_pop_df

,StateDesc,CountyName,CountyFIPS,TotalPopulation,ARTHRITIS_CrudePrev,ARTHRITIS_AdjPrev,BINGE_CrudePrev,BINGE_AdjPrev,BPHIGH_CrudePrev,BPHIGH_AdjPrev,...,PHLTH_CrudePrev,PHLTH_AdjPrev,SLEEP_CrudePrev,SLEEP_AdjPrev,STROKE_CrudePrev,STROKE_AdjPrev,TEETHLOST_CrudePrev,TEETHLOST_AdjPrev,Geolocation,Geo_QNAME
0,New Jersey,Warren,34041,105267,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.3,38.3,NaN,NaN,11.4,11.5,POINT (-74.9967165 40.85716301),"Warren, New Jersey"
1,Oklahoma,Jackson,40065,24530,23.5,23.0,13.6,13.6,34.5,34.1,...,13.8,13.8,37.1,37.7,3.4,3.3,18.6,18.8,POINT (-99.41467445 34.58811786),"Jackson, Oklahoma"
2,Illinois,Lawrence,17101,15678,27.9,25.6,20.4,21.5,35.4,33.3,...,14.5,13.9,36.1,36.8,3.8,3.4,17.1,17.2,POINT (-87.72684251 38.7203392),"Lawrence, Illinois"
3,Kansas,Barton,20009,25779,27.7,23.7,15.4,17.1,37.2,32.9,...,13.4,12.5,32.9,34.2,3.8,3.1,17.1,17.2,POINT (-98.75632156 38.478934),"Barton, Kansas"
4,Alaska,Anchorage,2020,288000,19.3,20.0,18.8,18.2,28.8,29.8,...,10.0,10.1,34.6,34.4,2.6,2.7,11.7,12.2,POINT (-149.1141071 61.1504589),"Anchorage, Alaska"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Kentucky,Carter,21043,26797,39.4,34.1,13.0,14.6,46.3,41.0,...,19.9,18.4,43.5,44.7,5.1,4.2,27.2,27.7,POINT (-83.04983435 38.31844184),"Carter, Kentucky"
3138,Mississippi,DeSoto,28033,184945,25.7,24.6,15.3,15.6,37.6,36.4,...,11.7,11.3,36.8,36.9,3.3,3.1,13.8,14.2,POINT (-89.99137922 34.87557805),"DeSoto, Mississippi"
3139,New York,Richmond,36085,476143,21.5,19.4,15.8,16.7,29.4,27.0,...,12.1,11.5,43.0,43.6,3.0,2.7,15.0,15.3,POINT (-74.15238026 40.58072907),"Richmond, New York"
3140,Kansas,Saline,20169,54224,25.9,22.9,16.6,17.9,32.8,29.6,...,11.9,11.2,31.5,32.5,3.3,2.8,14.0,14.1,POINT (-97.64993321 38.78398051),"Saline, Kansas"
3141,Texas,Wise,48497,69984,24.7,22.7,18.2,19.0,34.6,32.3,...,13.6,12.9,35.2,35.6,3.4,3.1,15.3,15.7,POINT (-97.65436631 33.21591466),"Wise, Texas"

In [12]:
#merge DataFrames
merged_df = pd.merge(county_pop_df, cc_short, how='outer', on=['Geo_QNAME'])

merged_df

,StateDesc,CountyName,CountyFIPS,TotalPopulation,ARTHRITIS_CrudePrev,ARTHRITIS_AdjPrev,BINGE_CrudePrev,BINGE_AdjPrev,BPHIGH_CrudePrev,BPHIGH_AdjPrev,...,TEETHLOST_AdjPrev,Geolocation,Geo_QNAME,Geo_NAME,ORG_DENSITY,ORG_TOT_POP,ORG_TOT_POP1,ORG_URBANPOP,ORG_RURALPOP,RuralUrban
0,New Jersey,Warren,34041.0,105267.0,NaN,NaN,NaN,NaN,NaN,NaN,...,11.5,POINT (-74.9967165 40.85716301),"Warren, New Jersey",Warren,295.6,105503.0,105503.0,65940.0,39563.0,Rural
1,Oklahoma,Jackson,40065.0,24530.0,23.5,23.0,13.6,13.6,34.5,34.1,...,18.8,POINT (-99.41467445 34.58811786),"Jackson, Oklahoma",Jackson,30.5,24467.0,24467.0,18432.0,6035.0,Rural
2,Illinois,Lawrence,17101.0,15678.0,27.9,25.6,20.4,21.5,35.4,33.3,...,17.2,POINT (-87.72684251 38.7203392),"Lawrence, Illinois",Lawrence,42.1,15666.0,15666.0,6509.0,9157.0,Rural
3,Kansas,Barton,20009.0,25779.0,27.7,23.7,15.4,17.1,37.2,32.9,...,17.2,POINT (-98.75632156 38.478934),"Barton, Kansas",Barton,28.7,25721.0,25721.0,17553.0,8168.0,Rural
4,Alaska,Anchorage,2020.0,288000.0,19.3,20.0,18.8,18.2,28.8,29.8,...,12.2,POINT (-149.1141071 61.1504589),"Anchorage, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Williamsburg City, Virginia",Williamsburg city,1655.2,14933.0,14933.0,14933.0,0.0,Urban
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Winchester City, Virginia",Winchester city,3040.5,28072.0,28072.0,28072.0,0.0,Urban
3286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Mcdowell, West Virginia",McDowell,32.9,17537.0,17537.0,2334.0,15203.0,Rural
3287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Fond Du Lac, Wisconsin",Fond du Lac,144.1,103698.0,103698.0,67198.0,36500.0,Rural
3288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"St Croix, Wisconsin",St Croix,126.1,91057.0,91057.0,42656.0,48401.0,Rural

In [13]:
#find null values
for column in merged_df.columns:
    print(f"Column {column} has {merged_df[column].isnull().sum()} null values")

Column StateDesc has 147 null values
Column CountyName has 147 null values
Column CountyFIPS has 147 null values
Column TotalPopulation has 147 null values
Column ARTHRITIS_CrudePrev has 168 null values
Column ARTHRITIS_AdjPrev has 168 null values
Column BINGE_CrudePrev has 168 null values
Column BINGE_AdjPrev has 168 null values
Column BPHIGH_CrudePrev has 168 null values
Column BPHIGH_AdjPrev has 168 null values
Column BPMED_CrudePrev has 168 null values
Column BPMED_AdjPrev has 168 null values
Column CANCER_CrudePrev has 168 null values
Column CANCER_AdjPrev has 168 null values
Column CASTHMA_CrudePrev has 168 null values
Column CASTHMA_AdjPrev has 168 null values
Column CERVICAL_CrudePrev has 147 null values
Column CERVICAL_AdjPrev has 147 null values
Column CHD_CrudePrev has 168 null values
Column CHD_AdjPrev has 168 null values
Column CHECKUP_CrudePrev has 168 null values
Column CHECKUP_AdjPrev has 168 null values
Column CHOLSCREEN_CrudePrev has 168 null values
Column CHOLSCREEN_AdjPrev has 168 null values
Column COLON_SCREEN_CrudePrev has 147 null values
Column COLON_SCREEN_AdjPrev has 147 null values
Column COPD_CrudePrev has 168 null values
Column COPD_AdjPrev has 168 null values
Column COREM_CrudePrev has 147 null values
Column COREM_AdjPrev has 147 null values
Column COREW_CrudePrev has 147 null values
Column COREW_AdjPrev has 147 null values
Column CSMOKING_CrudePrev has 168 null values
Column CSMOKING_AdjPrev has 168 null values
Column DENTAL_CrudePrev has 147 null values
Column DENTAL_AdjPrev has 147 null values
Column DEPRESSION_CrudePrev has 168 null values
Column DEPRESSION_AdjPrev has 168 null values
Column DIABETES_CrudePrev has 168 null values
Column DIABETES_AdjPrev has 168 null values
Column GHLTH_CrudePrev has 168 null values
Column GHLTH_AdjPrev has 168 null values
Column HIGHCHOL_CrudePrev has 168 null values
Column HIGHCHOL_AdjPrev has 168 null values
Column KIDNEY_CrudePrev has 168 null values
Column KIDNEY_AdjPrev has 168 null values
Column LPA_CrudePrev has 168 null values
Column LPA_AdjPrev has 168 null values
Column MAMMOUSE_CrudePrev has 147 null values
Column MAMMOUSE_AdjPrev has 147 null values
Column MHLTH_CrudePrev has 168 null values
Column MHLTH_AdjPrev has 168 null values
Column OBESITY_CrudePrev has 168 null values
Column OBESITY_AdjPrev has 168 null values
Column PHLTH_CrudePrev has 168 null values
Column PHLTH_AdjPrev has 168 null values
Column SLEEP_CrudePrev has 147 null values
Column SLEEP_AdjPrev has 147 null values
Column STROKE_CrudePrev has 168 null values
Column STROKE_AdjPrev has 168 null values
Column TEETHLOST_CrudePrev has 147 null values
Column TEETHLOST_AdjPrev has 147 null values
Column Geolocation has 147 null values
Column Geo_QNAME has 0 null values
Column Geo_NAME has 147 null values
Column ORG_DENSITY has 147 null values
Column ORG_TOT_POP has 147 null values
Column ORG_TOT_POP1 has 147 null values
Column ORG_URBANPOP has 147 null values
Column ORG_RURALPOP has 147 null values
Column RuralUrban has 147 null values

In [14]:
#after dropping na, same number of rows in DF
merged_df.dropna().count()

StateDesc              2974
CountyName             2974
CountyFIPS             2974
TotalPopulation        2974
ARTHRITIS_CrudePrev    2974
                       ...
ORG_TOT_POP            2974
ORG_TOT_POP1           2974
ORG_URBANPOP           2974
ORG_RURALPOP           2974
RuralUrban             2974
Length: 71, dtype: int64

In [15]:
merged_df.to_csv('County_Merged.csv', index=False)